




.advantages-item-img {

}

.advantages-item-text {

}

.advantages-item-subtitle {

}

.advantages_block-table {

}

.advantages_block-table_down {

}

.last {
  background-color: white;
  border: 2px solid #1A5D9D;
  text-align: center;
  justify-content: center;
}

.text {
  justify-content: center;
  align-self: center;
  font-size: 24px;
  max-width: 500px;
}












.accordion-item {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.accordion-title h3 {
  margin: 0;
  font-size: 16px;
}

.accordion-title span {
  font-size: 24px;
}

.accordion-content {
  display: none;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
}

